body{
    font-family: 'Oswald', sans-serif;
}

section {
    background-color: white;
}

.hero{
    background-color: hsl(249, 12%, 12%);
    height: 100vh;
    font-size: 40 px;
    color: white;
}

footer {
    height:  500 px;
    background-color: black;
    color: white;
    text-align: center;
}   
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li{
    text-decoration: none;
}
h1 {
    font-size: 90px;
    margin-bottom: 0%;
}

h2{
    font-size: 50px;
    font-weight: 200;
}

p{
    font-size: 30px;
}
.Hero-area{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    justify-content: center;   
    
}

.Hero-Text{
    margin-bottom: 200px;
    text-align: center;    
}


.button a{
    background-color: coral;
    height: 60px;
    width: 220px;
    border-radius: 30px;
    font-size: 35px;
    color: white;
    padding: 0 20px 0;
}

.button a:hover{
    background-color: hsl(13, 86%, 57%);
}

.button a:active{
    background-color: hsl(324, 8%, 54%);
    color: hsl(240, 1%, 39%);
}

.sub-section{
    display: flex;
    justify-content: space-around;
}

.head-shot{
    width: 300px;
    border-radius: 150px;
}

.head-shot-container{
display: flex;
align-items: center;
}

.project-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-card{
    width: 350px;
    height: 550px;
    box-shadow: 5px 5px 20px hsl(210, 3%, 46%);
    margin: 30px;
    transition: .3s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-image{
    width: 250px;
    height: 250px; 
    border-radius: 250px;
    padding: 25px;
}

.subtext{
    font-size: 20px;
    padding: 5px;
    color: black;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: coral;
}

@media only screen and (max-width: 1400px) {
    .project-container{
        display: flex;
        flex-wrap:wrap ;
}
}

@media only screen and (max-width: 700px) {
    
    .head-shot-container{
        transform: scale(0.5);  
    }
    nav{
        display: none;
    }
    .sub-section{
        display: flex;
        flex-direction: column-reverse;
    }

}

.grow{
    transition: .3s ease;
}

.grow:hover{
    transform: scale(1.1);
}

.information{
    padding: 20px;
}
